@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-weight: bold;
    font-size: 1rem;
}
.text-primary {
color: green;
}


#MAWAR {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#MAWAR a {
    color: white;
    text-decoration: none;
}

#MAWAR ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 5px;

}

#MAWAR ul li a {
    padding: 0.75rem;
    margin: 0.0.25;
}

#MAWAR ul li a:hover {
    background-color: lightblue;
    border-radius: 5px;
}

@media (max-size: 300px) {
    #MAWAR ul {
    margin-top: 50px ;}
}
